node_modules/
.env
.env.local
.env.development
.env.test
.env.production

backend/node_modules/
backend/.env

frontend/node_modules/
frontend/.env

auth-backend/node_modules/
auth-backend/.env

dist/
build/
.DS_Store
*.log
